<%= form_tag '/upload', multipart: true do %>
  <div class="field">
    <%= label_tag :Upload_Tsv %>
    <%= file_field_tag :file %>
  </div>
  <div class="actions">
    <%= submit_tag :upload %>
  </div>
<% end %>
