<div class="hero">
	<div class="hero-inner">
    <a href="/" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="Logo Image"></a>
		<div class="hero-copy">
      <h1>Close To Homebase</h1>
			<p>The closest businesses to Verve</p>	
		</div>
	</div>
</div>
