<table class="tables">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Postal code</th>
      <th>Country</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.name %></td>
        <td><%= business.address %></td>
        <td><%= business.postal_code %></td>
        <td><%= business.country %></td>
        <td><%= business.latitude %></td>
        <td><%= business.longitude %></td>
        <td class="edit-business"><%= button_to 'Show', business_path(business), method: :get %></td>
        <td class="edit-business"><%= button_to 'Edit', edit_business_path(business), method: :get %></td>
        <td class="edit-business"><%= button_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
